{%extends 'layout.html' %}

{% block title %}
    <title> Modifier un trajet </title>
{% endblock %}

{% block body %}
    <div>

        <h2> Modifier un trajet </h2>

        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

        <form method="get" action="/trajet/edit">

            <fieldset>
                <legend> Modifier un trajet </legend>

                <input type="hidden" name="id" value="{{ trajet.id }}" id="id">

                <label for="date_heure_de_depart"> Date et heure de départ </label><br>
                <input id="date_heure_de_depart" type="datetime-local" name="date_heure_de_depart" value="{{trajet.date_heure_de_depart}}" placeholder="Saisir la date et l'heure de départ"><br>

                <label for="date_heure_d_arrivee"> Date et heure d'arrivée </label><br>
                <input id="date_heure_d_arrivee" type="datetime-local" name="date_heure_d_arrivee" value="{{trajet.date_heure_d_arrivee}}" placeholder="Saisir la date et l'heure de l'arrivée"><br>

                <label for="distance_parcourue"> Distance parcourue </label><br>
                <input id="distance_parcourue" type="number" min="1" max="55" value="{{trajet.distance_parcourue}}" placeholder="Saisir le nombre de kilomètre.s"><br>

                <label for="nombre_de_place_s"> Nombre de place.s </label><br>
                <input id="nombre_de_place_s" type="number" min="1" max="4" value="{{trajet.nombre_de_place_s}}" placeholder="Saisir le nombre de place.s"><br>

                <label for="lieu_destinationoudepart"> Lieu de destination ou de départ</label><br>
                <input id="lieu_destinationoudepart" type="text" minlength="1" maxlength="50" value="{{trajet.lieu_destinationoudepart}}" placeholder="Saisir le lieu de destination ou de départ"><br>

                <label for="id_utilisateur"> Utilisateur </label><br>
                <select name="id_utilisateur">
                    <option value=""> Sélectionner votre nom </option>
                    {% for user in utilisateur %}
                        <option value="{{user.id_utilisateur}}" {% if trajet.id_utilisateur is defined and user.id_utilisateur ==  trajet.id_utilisateur %}selected{% endif %}>
                            {{user.nom_user}} {{user.prenom_user}}
                        </option>
                    {% endfor %}
                </select><br>

                <label for="id_commune"> Commune </label><br>
                <select name="id_commune">
                    <option value=""> Sélectionner la commune </option>
                    {% for commune1 in commune %}
                        <option value="{{commune1.id_commune}}" {% if trajet.id_commune is defined and commune1.id_commune ==  trajet.id_commune %}selected{% endif %}>
                            {{commune1.nom_commune}}
                        </option>
                    {% endfor %}
                </select><br>

                <input type="submit" value="Créer" name="Valider"><br>

                <input type="reset" value="Reset" name="Reset"><br>
            </fieldset>

        </form>
        
    </div>
{% endblock %}