{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les trajets</title>
{% endblock %}

{% block body %}
    <div>
        <h3>Trajets</h3>
        <a href="/trajet/add">Ajouter un trajet</a>
        <br>
        <br>
        <table>

            <thead>
                <tr>
                    <th>Id</th><th>Date et heure de départ</th><th>Date et heure d'arrivée</th><th>Distance parcourue</th><th>Nombre de place.s</th><th>Lieu de destination ou de départ</th><th>Nom et prénom</th><th>Commune</th>
                </tr>
            </thead>

            <tbody>
                {% if trajet | length>=1 %}

                    {% for ligne in trajet %}
                        <tr>
                            <td>{{ ligne.id_trajet }}</td>
                            <td>{{ ligne.date_heure_de_depart }}</td>
                            <td>{{ ligne.date_heure_d_arrivee }}</td>
                            <td>{{ ligne.distance_parcourue }}</td>
                            <td>{{ ligne.nombre_de_place_s }}</td>
                            <td>{{ ligne.lieu_destinationoudepart }}</td>
                            <td>{{ ligne.nom_user }}</td>
                            <td>
                                {% for commune1 in commune %}
                                    <option value="{{commune1.id_commune}}"> {{commune1.nom_commune}} </option>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/trajet/edit/{{ ligne.id }}">Editer</a>
                                <a href="/trajet/delete?id={{ ligne.id }}" onclick="return confirm('Are you sure?')" >Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}

                {%else %}
                        <tr>
                            <td> Pas de trajet </td>
                        </tr>
                        
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}